
{% if greenObjectCollection is defined %}
<div class="row text-center">

    <div class="col-lg-10">
        <h3 class="page-header">{{ title }}</h3>
    </div>
    {% for greenObject in greenObjectCollection %}
        {% set route_prefix = greenObject.getDetailRoutePrefix %}
        {% set route_suffix = "_view" %}
        {% set route = route_prefix ~ route_suffix %}
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="{{ path(route, {'id': greenObject.id}) }}">
            {% if greenObject.mainImage.webPath != null %}
                <img class="img-responsive" src="{{  greenObject.mainImage.webPath }}" alt="{{ greenObject.name }}">
            {% else %}
                <img src="{{ asset('uploads/images/4b009f43fe1cb51540022ad3fdcca0e7.jpeg') }}" class="img-responsive">
            {% endif %}
            {% if  greenObject.name | length > 30 %}
            <span>{{ greenObject.name[:30] ~ '...'  }}</span>
            {% else %}
            <span>{{ greenObject.name}}</span>
            {% endif %}
        </a>
    </div>
    {% endfor %}

    {% if paginator is defined and paginator.count > 0 and paginator.getTotalPages() > 1 %}
        {{ include('@GoGreen/core/paginator_navigator.html.twig', {'paginator' : paginator}) }}
    {% endif %}
</div>

{% endif %}
