
{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&language=bg"></script>
    <script>
        var position = navigator.geolocation.getCurrentPosition(initMap);
        function initMap(position) {
            var pointA = new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
                pointB = new google.maps.LatLng({{greenObject.location.lat}}, {{ greenObject.location.lon }}),
                myOptions = {
                    zoom: 7,
                    center: pointA,
                    zoomControl: true,
                    mapTypeControl: true,
                    scaleControl: true,
                    streetViewControl: true,
                    rotateControl: true,
                    fullscreenControl: true
                },
                map = new google.maps.Map(document.getElementById('map-canvas'), myOptions),
                // Instantiate a directions service.
                directionsService = new google.maps.DirectionsService,
                directionsDisplay = new google.maps.DirectionsRenderer({
                    draggable: true,
                    map: map,
                    panel: document.getElementById('right-panel'),
                }),
                markerA = new google.maps.Marker({
                    position: pointA,
                    title: "Your Location",
                    label: "A",
                    map: map
                }),
                markerB = new google.maps.Marker({
                    position: pointB,
                    title: "{{ greenObject.name }}",
                    label: "B",
                    map: map
                });

            directionsDisplay.addListener('directions_changed', function() {
                computeTotalDistance(directionsDisplay.getDirections());
            });

            // get route from A to B
            calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);

        }

        function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
            directionsService.route({
                origin: pointA,
                destination: pointB,
                travelMode: google.maps.TravelMode.DRIVING,
            }, function(response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }

        function computeTotalDistance(result) {
            var total = 0;
            var myroute = result.routes[0];
            for (var i = 0; i < myroute.legs.length; i++) {
                total += myroute.legs[i].distance.value;
            }
            total = total / 1000;
            document.getElementById('total').innerHTML = total + ' km';
        }

                initMap(position);

    </script>
{% endblock %}
{% block styles %}
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map-canvas {
            height: 100%;
            float: left;
            width: 63%;
        }
        #right-panel {
            float: right;
            width: 34%;
            height: 100%;
        }
        .panel {
            height: 100%;
            overflow: auto;
        }
        #right-panel {
            font-family: 'Roboto','sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }

        #right-panel select, #right-panel input {
            font-size: 15px;
        }

        #right-panel select {
            width: 100%;
        }

        #right-panel i {
            font-size: 12px;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="map-canvas" >
        <img src="{{ asset('images/progress.gif') }}" />
    </div>
    <div id="right-panel">
        {%  set referer = app.request.server.get('http-referer')|default('/')  %}
        <td><a  class="btn btn-success" href="{{ referer}}">{% trans %}Back{% endtrans %}</a></td>

        <p>Total Distance: <span id="total">
                <img src="{{ asset('images/progress.gif') }}" /></span></p>
    </div>

{% endblock %}
