{% extends '@Admin/base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <h2>Cabin List</h2>
        <a href="{{ path('create_cabin') }}" class="btn btn-info" role="button">Add Cabin</a>
        {% include '@Admin/cabin/search.html.twig' %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Is Active</th>
                <th>Show on first page</th>
                <th>Price pro person</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if cabinCollection is not null %}
                {% for cabin in cabinCollection %}
                    <tr>
                        <td>
                            {% if cabin.mainImage.webPath != null %}
                            <img src="{{ cabin.mainImage.webPath }}" width="100px" class="thumbnail">
                            {% else %}
                                <img src="{{ asset('uploads/images/4b009f43fe1cb51540022ad3fdcca0e7.jpeg') }}" width="100px" class="thumbnail">
                            {% endif %}
                        </td>
                        <td>{{ cabin.name }}</td>
                        <td>{% if cabin.isActive == 1 %}
                            <span class="glyphicon glyphicon-ok" style="color: green" aria-hidden="true"></span>
                            {% else %}
                            <span class="glyphicon glyphicon-remove red" style="color: red" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td>{{ cabin.showOnFirstPage }}</td>
                        <td>{{ cabin.priceProPerson }}</td>
                        <td>
                            <a href="{{ path('edit_cabin', { 'id': cabin.id }) }}" class="btn btn-success"
                               role="button">Edit</a>
                            <a href="{{ path('green_object_images_list', { 'id': cabin.id }) }}" class="btn btn-success"
                               role="button">Add Images</a>
                            {% if cabin.isActive == 1 %}
                                <a href="{{ path('deactivate_cabin', { 'id': cabin.id }) }}"
                                   class="btn delete btn-danger" role="button">Deactivate</a>
                            {% else %}
                                <a href="{{ path('activate_cabin', { 'id': cabin.id }) }}"
                                   class="btn delete btn-danger" role="button">Activate</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
