{% extends '@GoGreen/base.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="row container_custome center-block">

        <div class="col-lg-12 custom-header">
            <div class="row">
                <h1>{{ dam.name }}</h1>
            </div>

        </div>
        <br/>
        <div class="col-lg-12">
            {% if dam.imageCollection is defined %}
                {% include '@GoGreen/dam/galery.html.twig' %}
            {% endif %}
            <div class="col-lg-5 text-justify">
                <table class="table table-condensed">
                    <thead>
                    <tr colspan="2">
                        <th><h3>{% trans %}Info{% endtrans %}</h3></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="color: green; font-weight: bold;">{% trans %}Rating{% endtrans %}</td>
                        <td>{% include '@GoGreen/dam/star_rating.html.twig' %}</td>
                    </tr>
                    <tr>
                        <td style="color: green; font-weight: bold;">{% trans %}Price{% endtrans %}</td>
                        <td>{{ dam.priceProPerson }}</td>
                    </tr>
                    <tr>
                        <td style="color: green; font-weight: bold;">{% trans %}Address{% endtrans %}</td>
                        <td>{{ dam.address }}</td>
                    </tr>
                    {#<tr>#}
                        {#<td style="color: green; font-weight: bold;">{% trans %}Distance{% endtrans %}</td>#}
                        {#<td>{% include '@GoGreen/dam/distance_snippet.html.twig' %}</td>#}
                    {#</tr>#}
                    <tr>
                        <td style="color: green; font-weight: bold;">{% trans %}See on Map{% endtrans %}</td>
                        <td><a href="{{ path('dam_map_direction', {'id': dam.id}) }}" class="btn btn-success"
                               role="button">{% trans %}Directions{% endtrans %} <span
                                        class="glyphicon glyphicon-share-alt"></span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% if dam.fishCollection is defined %}
                <div class="col-lg-4 text-justify">

                    {% include '@GoGreen/dam/dam_fish_collection.html.twig' %}
                </div>

            {% endif %}
            <div class="col-lg-3 text-justify" >{% include '@GoGreen/dam/weather_snippet.html.twig' %}</div>
        </div>


        <div class="col-lg-12 text-justify">
            <p>{{ dam.description | raw }}</p>
            <div id="disqus_thread"></div>
        </div>
    </div>
    {% include '@GoGreen/security/discuss_snippet.html.twig' %}

{% endblock %}
