
{% if greenObjects is defined %}
<div class="row text-center center-block">

    <div class="col-lg-10">
        <h3 class="page-header">{{ title }}</h3>
    </div>
    {% for dam in greenObjects %}
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="{{ path('dam_view', {'id': dam.id}) }}">
            {% if dam.mainImage != null and dam.mainImage.webPath != null %}
                <img class="img-responsive" src="{{  dam.mainImage.webPath }}" alt="{{ dam.name }}">
            {% else %}
                <img src="{{ asset('uploads/images/4b009f43fe1cb51540022ad3fdcca0e7.jpeg') }}" class="img-responsive">
            {% endif %}
            {% include '@GoGreen/dam/distance_snippet.html.twig' %}
            <span>{{ dam.name }}</span>
        </a>
    </div>
    {% endfor %}
</div>

{% endif %}
