
{% if damCollection is defined %}
<div class="row text-center">

    <div class="col-lg-10">
        <h3 class="page-header">{{ title }}</h3>
    </div>
    {% for dam in damCollection %}
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="{{ path('dam_view', {'id': dam.id}) }}">
            <img class="img-responsive" src="{{  dam.mainImage.webPath }}" alt="{{ dam.name }}">
            <span>{{ dam.name }}</span>
        </a>
    </div>
    {% endfor %}
</div>

{% endif %}
