<div id="content">
    <div id="siteNotice">
    </div>
    <h5 id="firstHeading" class="firstHeading">{{ name }}</h5>
    <div id="bodyContent">
        <div class="col-lg-6 text-justify">
            <table class="table table-condensed">
                <thead>
                <tr colspan="2">
                    <th><img src="{{ mainImage }}" width="80px" title="{{ name }}" ></th>
                    <th><h5>{% trans %}Info{% endtrans %}</h5></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="color: green; font-weight: bold;">{% trans %}Rating{% endtrans %}</td> <td>{{ rating }}</td>
                </tr>
                <tr>
                    <td style="color: green; font-weight: bold;">{% trans %}Price{% endtrans %}</td> <td>{{ priceProPerson }}</td>
                </tr>
                <tr>
                    <td style="color: green; font-weight: bold;">{% trans %}Address{% endtrans %}</td> <td>{{ address }}</td>
                </tr>
                    <td><a href="{{ path('dam_map_direction', {'id': id}) }}">{% trans %}Directions{% endtrans %}</a></td>
                    <td><a href="{{ path('dam_view', {'id': id}) }}">{% trans %}More details{% endtrans %}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
