{% extends '@Admin/base.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container">
        {% include '@Admin/add_images.html.twig' %}
        {% if damImageCollection is defined %}
            <div class="row text-center">

                {% for damImage in damImageCollection %}
                    {% if damImage.isMain == 0 %}
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="{{ path('dam_view', {'id': damImage.dam.id}) }}">
                            <img class="img-responsive" src="{{  damImage.webPath }}" alt="{{ damImage.dam.name }}">
                            <span>{{ damImage.dam.name }}</span>
                        </a>
                        <a href="{{ path('dam_images_delete', { 'id': damImage.id }) }}"
                           class="btn delete btn-danger" role="button">Delete
                        </a>
                    </div>
                {% endif %}
                {% endfor %}
            </div>

        {% endif %}
    </div>
{% endblock %}
