<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.structure.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.theme.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/grid.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}"/>
    <link href="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.5.1/css/froala_style.min.css') }}" rel="stylesheet" type="text/css" />


</head>
<body>
<div class="container">
    <div class="jumbotron">
        {% block body %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-info">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <div class="btn-group btn-group-justified">
                <a href="{{ path('dam_list') }}" class="btn btn-primary">Dam List</a>
                <a href="{{ path('fish_list') }}" class="btn btn-primary">Fish List</a>
                <a href="{{ path('page_list') }}" class="btn btn-primary">Page List</a>
                <a href="{{ path('logout') }}" class="btn btn-primary">LogOut</a>
            </div>
            {% endif %}
            <br/>

        {% endblock %}
        {#{% block content %}#}
        {#{% endblock %}#}
    </div>

</div>
{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/kmsfroalaeditor/froala_editor_2.5.1/js/froala_editor.min.js') }}"></script>
{% endblock %}
</body>
</html>
